<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %> 
            <div class="message message-error"><%= errorMessage %> </div>
        <% } %> 
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input 
                    type="username" 
                    name="username" 
                    id="username" >
            </div>
            <div class="form-control">
                <label for="password">Mật khẩu</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" >
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Đăng nhập</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>