<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/work-history.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <div>
                <h1><%= staff.name %></h1>
                <form action="/month-check/<%= staff._id %>" method="POST">
                    <label for="month">Chọn tháng:</label>
                    <input name="month" type="month">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Chọn</button>
                </form>
            </div>
            <hr>
            <% if (staff.sessions.length > 0) { %> 
                <% for (let session of staff.sessions) { %>
                    <% if (session.month == month) { %> 
                    <div class="card">
                        <ul class="history">
                            <li class="history_items">Ngày: <%= session.day %> tháng <%= session.month %> </li>
                            <li class="history_items">Giờ nghỉ đã đăng ký: <% for (let annualLeave of staff.annualLeave) { %>
                                <p>Ngày: <%= annualLeave.annualLeaveDate %></p>
                                <p>Số giờ nghỉ: <%= annualLeave.annualLeaveHour %></p>
                            <% } %> </li>
                            <% for (let item of session.items) { %>
                                <li class="history_items">Nơi làm việc: <%= item.workplace %> </li>
                                <li class="history_items">Giờ bắt đầu làm: <%= item.startTime %></li>
                                <% if (!item.stopTime) { %>
                                    <li class="history_items">Giờ kết thúc làm: Chưa kết thúc</li>
                                <% } else { %>
                                    <li class="history_items">Giờ kết thúc làm: <%= item.stopTime %></li>
                                    <li class="history_items">Tổng số giờ làm ca này: <%= item.hours %> giờ</li>
                                <% } %>
                            <% } %>  
                            <li class="history_items">Tổng số giờ làm cả ngày: 
                                (Số giờ làm thêm: , Số giờ thiếu: ) </li>
                            <% if (session.isApproved == false) { %> 
                            <form action="/delete-work-session" method="POST">
                                <input type="hidden" value="<%= session._id %>" name="workSessionId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit">Xóa</button>
                            </form>
                            <% } %> 
                            <% } %>
                        </ul>
                    </div>
                <% } %> 
            <% } %>
            <% if (month == (dayNow.getMonth() + 1)) { %> 
                <form action="/confirm" method="POST">
                    <input type="hidden" name="staffId" value="<%= staff._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="confirm-btn" type="submit">Xác nhận giờ làm</button>
                </form>
            <% } %> 
        </main>
<%- include('../includes/end.ejs') %>