<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/work-history.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <div>
                <h1><%= staff.name %></h1>
                <form action="/month-check/<%= staff._id %>" method="POST">                                 <!--Form chọn tháng-->
                    <label style="font-weight:bold" for="month">Chọn tháng:</label>
                    <select class="form-select" name="month" id="month">
                        <option value="1" <%= month == 1 ? 'selected' : ''%>>Tháng 1</option>
                        <option value="2" <%= month == 2 ? 'selected' : ''%>>Tháng 2</option>
                        <option value="3" <%= month == 3 ? 'selected' : ''%>>Tháng 3</option>
                        <option value="4" <%= month == 4 ? 'selected' : ''%>>Tháng 4</option>
                        <option value="5" <%= month == 5 ? 'selected' : ''%>>Tháng 5</option>
                        <option value="6" <%= month == 6 ? 'selected' : ''%>>Tháng 6</option>
                        <option value="7" <%= month == 7 ? 'selected' : ''%>>Tháng 7</option>
                        <option value="8" <%= month == 8 ? 'selected' : ''%>>Tháng 8</option>
                        <option value="9" <%= month == 9 ? 'selected' : ''%>>Tháng 9</option>
                        <option value="10" <%= month == 10 ? 'selected' : ''%>>Tháng 10</option>
                        <option value="11" <%= month == 11 ? 'selected' : ''%>>Tháng 11</option>
                        <option value="12" <%= month == 12 ? 'selected' : ''%>>Tháng 12</option>
                    </select>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Chọn</button>
                </form>
            </div>
            <hr>                                       <!--Hiển thị lịch sử làm việc của tháng được chọn (Mặc định là tháng hiện tại)-->
                <% for (let session of staff.sessions) { %>
                    <% if (session.month == month) { %> 
                    <div class="card">
                        <ul class="history">
                            <li style="font-weight:bold" class="history_items">Ngày: <%= session.day %> tháng <%= session.month %> </li>
                            <li class="history_items">Giờ nghỉ đã đăng ký: <% for (let annualLeave of staff.annualLeave) { %>
                                <p>Ngày: <%= annualLeave.annualLeaveDate %></p>
                                <p>Số giờ nghỉ: <%= annualLeave.annualLeaveHour %></p>
                            <% } %> </li>
                            <% for (let item of session.items) { %>
                                <li class="history_items">Nơi làm việc: <%= item.workplace %> </li>
                                <li class="history_items">Giờ bắt đầu làm: <%= item.startTime %></li>
                                <% if (!item.stopTime) { %>
                                    <li class="history_items">Giờ kết thúc làm: Chưa kết thúc</li>
                                <% } else { %>
                                    <li class="history_items">Giờ kết thúc làm: <%= item.stopTime %></li>
                                    <li class="history_items">Tổng số giờ làm ca này: <%= item.hours %> giờ</li>
                                <% } %>
                            <% } %>  
                            <li class="history_items">Tổng số giờ làm cả ngày: 
                                (Số giờ làm thêm: , Số giờ thiếu: ) </li>
                            <% if (session.isApproved == false) { %> 
                            <form action="/delete-work-session/<%= session._id %>" method="POST">
                                <input type="hidden" value="<%= staff._id %>" name="staffId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit">Xóa</button>
                            </form>
                            <% } %> 
                            <% } %>
                        </ul>
                    </div>
                <% } %> 
            <% if (month == (dayNow.getMonth() + 1)) { %> 
                <form action="/confirm" method="POST">                                                          <!--Nút xác nhận-->
                    <input type="hidden" name="staffId" value="<%= staff._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="confirm-btn" type="submit">Xác nhận giờ làm</button>
                </form>
            <% } %> 
        </main>
<%- include('../includes/end.ejs') %>