<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/roll-call.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <div class="rollCall_btn_holder">                                                                   <!-- Button chọn giao diện checkin, checkout, nghỉ phép -->
            <button id="startWorkBtn" class="btn rollCall_btn">Điểm danh</button>
            <button id="stopWorkBtn" class="btn rollCall_btn">Kết thúc làm</button>
            <button id="annualLeaveBtn" class="btn rollCall_btn">Nghỉ phép</button>
        </div>

        <div class="startWork modal">
            <div class="rollCall_items">                <!-- Hiển thị checkin -->
                <h2>Họ và tên: <%= staff.name %></h2>
                <hr>
                <p>Trạng thái: <%= staff.status %></p>

                <% if (staff.status == 'Working') { %>              <!-- Validate Status -->
                    <p>Bắt đầu làm việc: <%= staff.name %> 
                        - Nơi làm: <%= workSessions[workSessions.length-1].items[workSessions[workSessions.length-1].items.length-1].workplace %>
                        - Thời gian bắt đầu: <%= workSessions[workSessions.length-1].items[workSessions[workSessions.length-1].items.length-1].startTime %></p>
                <% } else { %>

                    <form action="/startWork" method="POST">            <!-- Form checkin -->
                        <label for="workplace">Nơi làm việc</label>
                        <select name="workplace" id="workplace">
                            <option>Nhà</option>
                            <option selected>Công Ty</option>
                            <option>Khách Hàng</option>
                        </select>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="status" value="Working">
                        <button class="startWork btn btn_centered" type="submit">Điểm Danh</button>
                    </form>
                <% } %>
            </div>
        </div>

        <div class="stopWork modal">
            <div class="rollCall_items">                <!-- Hiển thị checkout -->
                <h2>Họ và tên: <%= staff.name %></h2><hr>         
                <% if(staff.sessions == null || staff.sessions == undefined || staff.sessions == "") { %>
                    <p>Số giờ đã làm hôm nay: 0 giờ</p>
                <% } else { %>   
                    <p>Số giờ đã làm hôm nay: <%= workSessions[workSessions.length-1].totalHrs %> giờ</p>
                <% } %>  
                <% if (staff.status == 'Working') { %>      <!-- Validate Status -->
                    <form action="/endWork" method="POST">                                      <!-- Form checkout -->
                        <input type="hidden" name="status" value="Resting">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn_centered" type="submit">Kết Thúc Làm</button>
                    </form>
                <% } %>
                <p>Danh sách các session:</p>
                <% if(staff.sessions == null || staff.sessions == undefined || staff.sessions == "") {%>
                    <p>Chưa có phiên làm việc</p>
                <% } else { %>   
                    <% for (let session of staff.sessions) { %>
                        <% for (let item of session.items) { %> 
                            <p>Bắt đầu: <%= item.startTime %> 
                                - Kết thúc: <%= item.stopTime ? item.stopTime : 'Chưa kết thúc' %> 
                                - Nơi làm: <%= item.workplace %></p>
                        <% } %> 
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="annualLeave modal">
            <div class="rollCall_items">                                            <!-- Hiển thị xin nghỉ -->
                <% if(staff.annualLeaveLeft == staff.annualLeaveMax) { %>
                    <h2>Số ngày nghỉ còn lại: <%= staff.annualLeaveMax %> ngày</h2>
                <% } else { %>    
                    <h2>Số ngày nghỉ còn lại: <%= staff.annualLeaveLeft %> ngày</h2>
                <% } %>
                <hr>
                <% if(staff.annualLeaveMax == 0) { %>
                    <h1>Đã sử dụng hết ngày nghỉ!</h1>
                <% } else { %>
                <form action="/annualLeave" method="POST">          <!-- Form xin nghỉ -->
                    <label>Ngày xin nghỉ:</label>
                    <input name="annualLeaveDate" id="datePick"><br>
                    <label>Lý do:</label>
                    <input type="text" name="reason"><br>
                    <label>Số giờ nghỉ:</label>
                    <input type="number" name="annualLeaveHour" max="8" step=".01">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn_centered" type="submit">Xin Nghỉ</button>
                </form>
                <% } %>
            </div>
        </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@master/jquery-ui.multidatespicker.js"></script>
    <script>
        $(document).ready(function () {
          $('#datePick').multiDatesPicker();
        });
    </script>
    <%- include('../includes/end.ejs') %> 