<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/work-history.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 

    <main>
        <h1>Tổng Kết:</h1>
        <form action="/work-history/<%= month %>" method="POST">
            <label style="font-weight:bold" for="month">Chọn tháng:</label>
            <select class="form-select" name="month" id="month">
                <option value="1" <%= month == 1 ? 'selected' : ''%>>Tháng 1</option>
                <option value="2" <%= month == 2 ? 'selected' : ''%>>Tháng 2</option>
                <option value="3" <%= month == 3 ? 'selected' : ''%>>Tháng 3</option>
                <option value="4" <%= month == 4 ? 'selected' : ''%>>Tháng 4</option>
                <option value="5" <%= month == 5 ? 'selected' : ''%>>Tháng 5</option>
                <option value="6" <%= month == 6 ? 'selected' : ''%>>Tháng 6</option>
                <option value="7" <%= month == 7 ? 'selected' : ''%>>Tháng 7</option>
                <option value="8" <%= month == 8 ? 'selected' : ''%>>Tháng 8</option>
                <option value="9" <%= month == 9 ? 'selected' : ''%>>Tháng 9</option>
                <option value="10" <%= month == 10 ? 'selected' : ''%>>Tháng 10</option>
                <option value="11" <%= month == 11 ? 'selected' : ''%>>Tháng 11</option>
                <option value="12" <%= month == 12 ? 'selected' : ''%>>Tháng 12</option>
            </select>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Chọn</button>
        </form>
        <div class="card">
            <ul class="salary">
                <% if (staff.managerId) { %> 
                    <li class="salary_items">Thông tin quản lý: </li>
                    <li class="salary_items">- ID: <%= staff.managerId %> </li>
                    <li class="salary_items">- Tên: <%= managerName %> </li>
                <% } else { %>
                    <li class="salary_items">Thông tin quản lý: Không có quản lý</li>
                <% } %> 
                <li class="salary_items">Hệ số lương: <%= staff.salaryScale %> </li>
                <li class="salary_items">Số giờ làm thêm: <%= overTimeMonth.toFixed(1) %></li>
                <li class="salary_items">Số giờ làm thiếu: <%= totalTimeShort.toFixed(1) %></li>
                <li class="salary_items">Lương: <%= (staff.salaryScale*3000000+((overTimeMonth - totalTimeShort)*200000)) %> đồng (Lương = salaryScale * 3000000 + (overTime - số giờ làm thiếu) * 200000)</li>
            </ul>
        </div>
        <h1>Lịch sử làm việc:</h1>
        <form action="/work-history" method="POST">
            <label style="font-weight:bold" for="line">Số phiên làm việc hiển thị từng trang:</label>
            <select name="line">
                <option value="20" <% if (line == 20) { %>selected<% } %>>20</option>
                <option value="30" <% if (line == 30) { %>selected<% } %>>30</option>
                <option value="40" <% if (line == 40) { %>selected<% } %>>40</option>
            </select>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Chọn</button>
        </form>
        <% for (let session of staff.sessions) { %>
            <div class="card">
                <ul class="history">
                    <li class="history_items">Ngày: <%= session.day %> tháng <%= session.month %></li>
                    <li class="history_items">Giờ nghỉ đã đăng ký: <% for (let annualLeave of staff.annualLeave) { %>
                        <p>Ngày: <%= annualLeave.annualLeaveDate %></p>
                        <p>Số giờ nghỉ: <%= annualLeave.annualLeaveHour %></p>
                    <% } %> </li>
                    <% for (item of session.items) { %>
                        <li class="history_items">Nơi làm việc: <%= item.workplace %> </li>
                        <li class="history_items">Giờ bắt đầu làm: <%= item.startTime %></li>
                        <% if (!item.stopTime) { %>
                            <li class="history_items">Giờ kết thúc làm: Chưa kết thúc</li><hr>
                        <% } else { %>
                            <li class="history_items">Giờ kết thúc làm: <%= item.stopTime %></li>
                            <li class="history_items">Tổng số giờ làm ca này: <%= item.hours.toFixed(1) %> giờ</li><hr>
                    <% } %>
                    <% } %>
                    <% if (session.items[session.items.length-1].stopTime) { %> 
                        <li class="history_items">Tổng số giờ làm cả ngày: <%= session.totalHrs.toFixed(1) %> 
                            (Số giờ làm thêm: <%= session.overTime.toFixed(1) %>  , Số giờ thiếu: <%= (8 - session.totalHrs).toFixed(1) %> ) </li>
                    <% } else { %>
                        <li class="history_items">Tổng số giờ làm cả ngày: Chưa kết thúc</li> 
                    <% } %> 
            </div>
        <% } %>
        <section class="pagination">
            <% if (currentPage !== 1 && previousPage !== 1) { %> 
                <a href="/work-history/?page=1">1</a>
            <% } %> 
            <% if (hasPreviousPage) { %> 
                <a href="/work-history/?page=<%= previousPage %>"><%= previousPage %></a>
            <% } %>
            <a href="/work-history/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
            <% if (hasNextPage) { %> 
                <a href="/work-history/?page=<%= nextPage %>"><%= nextPage %></a>
            <% } %>
            <% if (lastPage !== currentPage && lastPage !== nextPage) { %> 
                <a href="/work-history/?page=<%= lastPage %>"><%= lastPage %></a>
            <% } %> 
        </section>
    </main>
    <%- include('../includes/end.ejs') %> 