<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/work-history.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 

    <main>
        <h1>Tổng Kết:</h1>
        <div class="card">
            <ul class="salary">
                <li class="salary_items">Hệ số lương: <%= staff.salaryScale %> </li>
                <li class="salary_items">Số giờ làm thêm: <%= staff.overTime.toFixed(1) %></li>
                <li class="salary_items">Số giờ làm thiếu: <%= staff.timeShort.toFixed(1) %></li>
                <li class="salary_items">Lương: <%= (staff.salaryScale*3000000+(staff.overTime - staff.timeShort)*200000).toFixed(0) %> Đồng (Lương = salaryScale * 3000000 + (overTime - số giờ làm thiếu) * 200000)</li>
            </ul>
        </div>
        <h1>Lịch sử làm việc:</h1>
        <form action="/work-history" method="POST">
            <label style="font-weight:bold">Số phiên làm việc hiển thị từng trang:</label>
            <select name="line">
                <option value="20" <% if (line == 20) { %>selected<% } %>>20</option>
                <option value="30" <% if (line == 30) { %>selected<% } %>>30</option>
                <option value="40" <% if (line == 40) { %>selected<% } %>>40</option>
            </select>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Chọn</button>
        </form>
        <% for (let session of staff.sessions) { %>
            <div class="card">
                <ul class="history">
                    <li class="history_items">Ngày: <%= session.date %></li>
                    <li class="history_items">Nơi làm việc: <%= session.workplace %> </li>
                    <li class="history_items">Giờ nghỉ đã đăng ký: <% for (let annualLeave of staff.annualLeave) { %>
                        <p>Ngày: <%= annualLeave.annualLeaveDate %></p>
                        <p>Số giờ nghỉ: <%= annualLeave.annualLeaveHour %></p>
                    <% } %> </li>
                    <li class="history_items">Giờ bắt đầu làm: <%= session.startTime %></li>

                    <% if (session.stopTime == undefined) { %>
                    <li>Giờ kết thúc làm:--</li>
                    <% } else { %>
                    <li class="history_items">Giờ kết thúc làm: <%= session.stopTime %></li>

                    <% if (session.stopTime == undefined) { %>
                    <li class="history_items">Tổng số giờ làm ca này: Chưa kết thúc</li>
                    <% } else { %>
                    <li class="history_items">Tổng số giờ làm ca này: <%= session.timeWorked.toFixed(1) %> giờ</li>
                    <% } %>
                    <li class="history_items">Tổng số giờ làm cả ngày: <%= session.timeWorkedToday.toFixed(1) %> 
                        (Số giờ làm thêm: <%= session.overTime.toFixed(1) %>, Số giờ thiếu: <%= session.timeShort.toFixed(1) %>) </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <section class="pagination">
            <% if (currentPage !== 1 && previousPage !== 1) { %> 
                <a href="/work-history/?page=1">1</a>
            <% } %> 
            <% if (hasPreviousPage) { %> 
                <a href="/work-history/?page=<%= previousPage %>"><%= previousPage %></a>
            <% } %>
            <a href="/work-history/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
            <% if (hasNextPage) { %> 
                <a href="/work-history/?page=<%= nextPage %>"><%= nextPage %></a>
            <% } %>
            <% if (lastPage !== currentPage && lastPage !== nextPage) { %> 
                <a href="/work-history/?page=<%= lastPage %>"><%= lastPage %></a>
            <% } %> 
        </section>
    </main>
    <%- include('../includes/end.ejs') %> 