<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/work-history.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 

    <main>
        <h1>Tổng Kết:</h1>
        <div class="card">
            <ul class="salary">
                <li class="salary_items">Hệ số lương: <%= staff.salaryScale %> </li>
                <li class="salary_items">Số giờ làm thêm: <%= staff.overTime.toFixed(1) %></li>
                <li class="salary_items">Số giờ làm thiếu: <%= staff.timeShort.toFixed(1) %></li>
                <li class="salary_items">Lương: <%= (staff.salaryScale*3000000+(staff.overTime - staff.timeShort)*200000).toFixed(0) %> Đồng (Lương = salaryScale * 3000000 + (overTime - số giờ làm thiếu) * 200000)</li>
            </ul>
        </div>
        <h1>Lịch sử làm việc:</h1>
        <% for (let session of staff.sessions) { %>
            <div class="card">
                <ul class="history">
                    <li class="history_items">Ngày: <%= session.date %></li>
                    <li class="history_items">Nơi làm việc: <%= session.workplace %> </li>
                    <li class="history_items">Giờ nghỉ đã đăng ký: <% for (let annualLeave of staff.annualLeave) { %>
                        <p>Ngày: <%= annualLeave.annualLeaveDate %></p>
                        <p>Số giờ nghỉ: <%= annualLeave.annualLeaveHour %></p>
                    <% } %> </li>
                    <li class="history_items">Giờ bắt đầu làm: <%= session.startTime %></li>

                    <% if (session.stopTime == undefined) { %>
                    <li>Giờ kết thúc làm:--</li>
                    <% } else { %>
                    <li class="history_items">Giờ kết thúc làm: <%= session.stopTime %></li>

                    <% if (session.stopTime == undefined) { %>
                    <li class="history_items">Tổng số giờ làm ca này: Chưa kết thúc</li>
                    <% } else { %>
                    <li class="history_items">Tổng số giờ làm ca này: <%= session.timeWorked.toFixed(1) %> giờ</li>
                    <% } %>

                    <li class="history_items">Tổng số giờ làm hôm nay: <%= session.timeWorkedToday.toFixed(1) %> 
                        (Số giờ làm thêm: <%= session.overTime %>, Số giờ thiếu: <%= session.timeShort %>) </li>
                    <li class="history_items">Tổng số giờ làm hôm nay: Chưa kết thúc </li>
                    <% } %>
                    
                </ul>
            </div>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %> 